@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .

### Rule: ActorDirector is an intersection of Actor and Director
### http://www.semanticweb.org/shaima/ontologies/2024/3/untitled-ontology-2#ActorDirector
:ActorDirector rdf:type owl:Class ;
               owl:intersectionOf (:Actor :Director) .

### Rule: Cardinality rules on movie to have min.

###  http://www.semanticweb.org/shaima/ontologies/2024/3/untitled-ontology-2#Movie
:Movie rdf:type owl:Class ;
       owl:equivalentClass [ rdf:type owl:Restriction ;
                             owl:onProperty :hasActor ;
                             owl:minCardinality "1"^^xsd:nonNegativeInteger ;
                             owl:onClass :Movie
                           ] ,
                           [ rdf:type owl:Restriction ;
                             owl:onProperty :hasGenre ;
                             owl:minCardinality "1"^^xsd:nonNegativeInteger ;
                             owl:onClass :Movie
                           ] ,
                           [ rdf:type owl:Restriction ;
                             owl:onProperty :hasWriter ;
                             owl:minCardinality "2"^^xsd:nonNegativeInteger ;
                             owl:onClass :Movie
                           ] .

### Rule: Gender property must have values "Female" or "Male"
### http://www.semanticweb.org/shaima/ontologies/2024/3/untitled-ontology-2#Gender
:Gender a owl:DatatypeProperty ;
        rdfs:domain :Person ;
        rdfs:range [
            owl:unionOf (
                "Female"^^xsd:string
                "Male"^^xsd:string
            )
        ] .